*.d
*.d.*
*.o
.asy_*
*.orig
*.rej


wisdom3.txt

*.log
*.pyc
*.eps
*.pdf

cconv
cconv2
cconv3
conv
conv2
conv3
fft1
fft1r
fft2
fft2r
fft3
fft3r
mfft1
mfft1r
tconv
tconv2
transpose
tests/timings*
wrappers/*.so
wrappers/*.mod

examples/example0
examples/example0m
examples/example0mr
examples/example0r
examples/example1
examples/example1r
examples/example2
examples/example2r
examples/example3
examples/example3r
examples/examplecconv
examples/examplecconv2
examples/examplecconv3
examples/exampleconv
examples/exampleconv2
examples/exampleconv3
examples/exampletranspose

mpi/gather
mpi/gatheryz
mpi/gatherxy

### Debugging files
core.*

### Backups
*~
\#*
.\#*
