*.d
*.o
*~
wisdom3.txt

*.log
*.pyc

tests/cconv
tests/cconv2
tests/cconv3
tests/conv
tests/conv2
tests/conv3
tests/fft1
tests/fft1r
tests/fft2
tests/fft2r
tests/fft3
tests/fft3r
tests/mfft1
tests/mfft1r
tests/tconv
tests/tconv2
tests/transpose

examples/example0
examples/example0m
examples/example0mr
examples/example0r
examples/example1
examples/example1r
examples/example2
examples/example2r
examples/example3
examples/example3r
examples/examplecconv
examples/examplecconv2
examples/examplecconv3
examples/exampleconv
examples/exampleconv2
examples/exampleconv3
examples/exampletranspose

mpi/cconv2
mpi/conv2
mpi/cconv3
mpi/conv3
mpi/fft2
mpi/fft2r
mpi/rcfft2
mpi/fft3
mpi/transpose
mpi/accumulate
mpi/accumulateyz
mpi/accumulatexy
