*.d
*.d.*
*.o
.asy_*
*.orig
*.rej


wisdom3.txt

*.log
*.pyc
*.eps
*.pdf

cconv
cconv2
cconv3
conv
conv2
conv3
fft1
fft1r
fft2
fft2r
fft3
fft3r
mfft1
mfft1r
tconv
tconv2
transpose
tests/timings*
wrappers/*.so
wrappers/*.mod

cexample
fexample

fft2rconv
fft3rconv

example0
example0m
example0mr
example0r
example1
example1r
example2
example2r
example3
example3r
examplecconv
examplecconv2
examplecconv3
exampleconv
exampleconv2
exampleconv3
exampletranspose

gather
gatheryz
gatherxy

### Debugging files
core.*

### Backups
*~
\#*
.\#*
